@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #f9f9f9;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 24px;
  background-color: #fff;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav-left img {
  height: 20px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-center input {
  width: 348px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  padding-left: 8px;
}

.nav-center input:focus {
  outline: none;
  border-color: #3ea6ff;
}

.nav-center button {
  width: 57px;
  height: 40px;
  border: 1px solid #ccc;
  background-color: #f8f8f8;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.container {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1;
  margin: 28px 25px 0 75px;
}

main h1 {
  font-size: 1.25rem;
  font-weight: 600;
  color: #000;
}

main .video-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 42px;
}

main .video-info .profile-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
main .video-info .profile-info img {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

main .video-info .profile-info h2 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
}

main .video-info .profile-info p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #515151;
}

main .video-info button {
  width: 159px;
  height: 40px;
  border-radius: 2px;
  border: none;
  background-color: #c00;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
  cursor: pointer;
}

main .video-info .video-stats {
  display: flex;
  align-items: center;
  gap: 8px;
}

main .video-views {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
}

main .video-description {
  width: 510px;
}

main .video-description p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #515151;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 372px;
  margin: 28px 16px 0 0;
}

.sidebar-item {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

.sidebar-item img {
  width: 160px;
  height: 90px;
}

.sidebar-item-info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.sidebar-item-info h3 {
  font-size: 0.875rem;
  font-weight: 600;
  color: #000;
}

.sidebar-item-info p {
  font-size: 0.75rem;
  font-weight: 400;
  color: #515151;
}
